body {
    margin: 0 auto;
    width: 100vw;
    overflow: hidden;
}

/*авторизация*/
.header {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    width: 100vw;
    height: 100px;
    font-size: 48px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    /* background: linear-gradient(to bottom,#d670f5, #7387f3) ; */
    background: #E7DFDD;
}

.after_header {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #7387f3;
    /* background: linear-gradient(to bottom,#7387f3, #d670f5) ; */
    background: #E7DFDD;
    height: 100vh;
}

.logo {
    transform: translateX(-25vw);
    top: 2px;
    bottom: 20px;
    position: relative;
    width: 100px;
    height: 100px;
}

.wind_auth {
    display: block;
    width: 500px;
    height: 450px;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-family: montserrat, sans-serif;
    /* background: linear-gradient(to top,#7387f3, #d670f5); */
    background: #ADB2B5;
}

.head_auth {
    color: #000000;
    font-size: 48px;
    border: 2px solid linear-gradient(to right, #d670f5, #7387f3);
    /* background: linear-gradient(to right,#d670f5); */
    background: #BDC6CF;
    border-radius: 40px;
    width: 350px;
    height: 60px;
    margin-left: 18%;
    margin-top: 3%;
}

.mess {
    margin-top: 15px;
}

.isq {
    margin-top: 15px;
    color: linear-gradient(to bottom, #d670f5, #7387f3);
    ;
}

.btn-head {
    color: rgb(0, 0, 0);
    height: 55px;
    width: 150px;
    border: none;
    background-color: #B5A2A4;
    border-radius: 10px;
    font-size: 24px;
    position: relative;
    top: 15px;
    left: 25vw;
}

.btn-head:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000000;
    border: none;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
}

.auth-input {
    height: 40px;
    width: 70%;
    margin-top: 60px;
    font-size: 24px;
    border: none;
}

.auth-lable {
    font-size: 24px;
}

.auth-input1 {
    margin-left: 15px;
    height: 40px;
    width: 70%;
    margin-top: 60px;
    font-size: 24px;
    border: none;
}

.auth-lable1 {
    font-size: 24px;
}

.btn-auth {
    color: rgb(0, 0, 0);
    height: 55px;
    width: 160px;
    border: none;
    background-color: #C5BEB4;
    border-radius: 10px;
    font-size: 24px;
    position: relative;
    top: 50px;
    margin-right: 20px;
}

.btn-auth:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000000;
    border: none;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
}

.btn-reg {
    color: rgb(0, 0, 0);
    height: 55px;
    width: 160px;
    border: none;
    background-color: #C5BEB4;
    border-radius: 10px;
    font-size: 24px;
    position: relative;
    top: 50px;
    margin-right: 20px;
}

/*конец авторизации*/
.btn-reg:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000000;
    border:  none;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
}

.btn-head-reg {
    color: rgb(0, 0, 0);
    height: 55px;
    width: 150px;
    border: none;
    background-color: #B5A2A4;
    border-radius: 10px;
    font-size: 24px;
    position: relative;
    top: 15px;
    left: 25vw;
}

.btn-head-reg:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000000;
    border: none;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
}

.btn-registr {
    color: rgb(0, 0, 0);
    height: 55px;
    width: 150px;
    border: none;
    background-color: #C5BEB4;
    border-radius: 10px;
    font-size: 24px;
    position: relative;
    top: 50px;
    margin-right: 20px;
}

.btn-registr:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000000;
    border: none;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
}

.btn-back {
    color: rgb(255, 255, 255);
    height: 55px;
    width: 150px;
    border: 2px solid #000000;
    background-color: #000000;
    border-radius: 10px;
    font-size: 24px;
    position: relative;
    top: 50px;
    margin-right: 20px;
}

.btn-back:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000000;
    border: 2px solid #fff;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
}

.reg-body {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    text-align: center;
    justify-content: center; 
    /* background: linear-gradient(to bottom,#7387f3, #d670f5) ; */
    background: #E7DFDD;
    height: 100vh;
}

.reg-head {
    color: #000000;
    font-size: 48px;
    border: 2px solid linear-gradient(to right, #d670f5, #7387f3);
    background: #BDC6CF;
    border-radius: 40px;
    width: 350px;
    height: 60px;
    margin-left: 18%;
    margin-top: 3%;

}

.wind-reg {
    display: block;
    width: 500px;
    height: 750px;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-family: montserrat, sans-serif;
    ;
    /* background: linear-gradient(to top,#7387f3, #d670f5); */
    background: #ADB2B5;
}

.menu {
    display: block;
    width: 20vw;
    height: 100vh;
    background: #E5E3E6;
    border-right: none;
}

.user-inf {
    display: flex;
    height: 12%;
    border-bottom: none;
    background: #B5A2A4;
}

.user-photo {
    position: relative;
    margin-left: 20px;
    top: 25%;
    width: 15%;
    height: 50%;
    border: 3px solid #000000;
    border-radius: 50%;
}

.user-name {
    font-family: montserrat, sans-serif;
    width: 50%;
    height: 50%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 30px;
    top: 33%;
    font-size: 2rem;
}

.fa-solid {
    position: relative;
    right: -4%;
    top: 32%;
    font-size: 300%;
    cursor: pointer;
}

.chats-area {
    display: block;
    height: 88%;
    overflow-y: auto;
}

.input-text {
    border: 3px solid #000000;
    border-radius: 30px;
    background: #EFECE7;
    position: fixed;
    height: 5vh;
    width: 60vw;
    font-size: 32px;
    color: #ffffff;
    margin-top: 60px;
    left: 25vw;
}

.btn-post {
    position: fixed;
    border: none;
    margin-left: 60px;
    background-color: #BDC6CF;
    color: #000000;
    border-radius: 30px;
    width: 10vw;
    height: 5vh;
    font-size: 32px;
    left: 83vw;
    margin-top: 60px;
}

.btn-post:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000000;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
}

.defense {
    background: linear-gradient(to right #b6bff3, #b66dcc);
    border-radius: 50px;
    display: flex;
    text-align: center;
    width: 300px;
    height: 60px;
    position: relative;
}

.create-chat {
    position: relative;
    border: none;
    top: 1.6vw;
    background-color: #BDC6CF;
    color: #000000;
    border-radius: 40px;
    width: 7vw;
    height: 4vh;
    font-size: 1.5rem;
    left: 1vw;
}

.create-chat:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000000;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
}

.auth-input12 {
    font-size: 24px;
    position: relative;
    width: 51%;
    border: none;
    left: 43%;
}

.block_chats {
    display: block;
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 50px;
}

.block_chat {
    font-family: Raleway, sans-serif;
    font-size: 30px;
    padding-right: 0;
    display: flex;
    position: relative;
    width: 100%;
    background: #ADB2B5;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    margin-bottom: 10px;
    border: none;

    &.active {
        background: #BDC6CF !important;
    }
}

.block_chat:hover {
    cursor: pointer;
    background: #B5A2A4;
}

img {
    margin-left: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

p {
    margin-left: 20px;
}

.hidden {
    display: none !important;
}

.fa-xmark {
    font-size: 40px;
}

.user-block {
    border-radius: 20px;
    margin-top: 40px;
    z-index: 1;
    top: 2%;
    left: 21%;
    position: absolute;
    background: #B5A2A4;
    width: 400px;
    height: 513px;
    display: block;
}

.user-block-head {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-left: 35%;
}

.user-img {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 0 auto;
}

.user-block-body {
    display: block;
    justify-content: center;
    text-align: center;
}

.user-email {
    font-family: cursive, sans-serif;
    margin: 0 auto;
    font-size: 20px;
}

.user-fam {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 48px;
    margin: 0 auto;
    margin-top: 30px;
}

.user-name-work {
    margin: 0 auto;
    height: 20px;
    font-family: Raleway, sans-serif;
    font-size: 48px;
    font-weight: 400;
}

.user-change {
    border-radius: 20px;
    margin-top: 40px;
    z-index: 1;
    top: 2%;
    left: 21%;
    position: absolute;
    background: #B5A2A4;
    width: 400px;
    height: 515px;
    display: block;
}

.user-change-body {
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}

.user-change-head {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 32px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
}


.footer {
    display: flex;
}

.footer-change {
    border-bottom-left-radius: 20px;
    margin-top: 17%;
    height: 67px;
    width: 33.3%;
    font-size: 32px;
    text-align: center;
    background: #E5E3E6;
}

.footer-change:hover {
    background-color: #D6DBDE;
    cursor: pointer;
}

.footer-change-text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 3px;
    font-size: 26px;
    
}

.footer-exit {
    margin-top: 17%;
    height: 67px;
    width: 33.3%;
    text-align: center;
    background: #E5E3E6;

}

.footer-exit:hover {
    background-color: #D6DBDE;
    cursor: pointer;
}

.footer-exit-text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    color: red;
    margin: 0 auto;
    margin-top: 13px;
    font-size: 28px;
}

.delete-user {
    border-bottom-right-radius: 20px;
    margin-top: 17%;
    height: 67px;
    width: 33.3%;
    font-size: 32px;
    text-align: center;
    background: #E5E3E6;

}

.delete-user:hover {
    background-color: #D6DBDE;
    cursor: pointer
}

.delete-user-text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    color: red;
    margin: 0 auto;
    font-size: 26px;
}

.msg {
    height: 8%;
}

.msg-my {
    position: relative;
    margin-left: 40px;
    border-radius: 20px;
    padding-left: 20px;
    font-family: Raleway, sans-serif;
    width: 15%;
    height: 15%;
    background: #EFECE7;
}

.msg-me {
    position: relative;
    left: 80%;
    border-radius: 20px;
    padding-left: 20px;
    font-family: Raleway, sans-serif;
    width: 15%;
    height: 15%;
   background: #EFECE7;
}



.WORK {
    width: 100vw;
    display: flex;

    overflow: hidden;
}

.message_block {
    height: 1010px;
    overflow-y: auto;
}

.wind-work {
    width: 80vw;
    background: #C5BEB4;
    display: block;
    overflow: hidden;
}

.area-input {
    position: fixed;
    top: 85%;
    display: flex;
    width: 80vw;
    height: 15vh;
    background: #C5BEB4;
    /* border: 2px solid #7387f3 ; */
}

.input-text {
    border: none;
    border-radius: 30px;
    background: #EFECE7;
    position: fixed;
    height: 5vh;
    width: 60vw;
    font-size: 32px;
    color: #000000;
    margin-top: 60px;
    left: 25vw;
}

.user-change-body img {
    margin: 0 auto;
}

.change-input {
    font-size: 20px;
    margin-top: 10px;
    width: 90%;
    height: 30px;
    border: none;
}

.footer-change-body {
    padding-top: 70px;
    display: flex;
}

.change-data {
    border-bottom-left-radius: 20px;
    padding: 0 auto;
    text-align: center;
    width: 50%;
    margin-top: 12px;
    height: 60px;
    background: #E5E3E6;
}

.change-data:hover {
    background-color: #D6DBDE;
    cursor: pointer;
}

.change-back {
    border-bottom-right-radius: 20px;
    padding: 0 auto;
    text-align: center;
    width: 50%;
    height: 60px;
    background: #E5E3E6;
    margin-top: 12px;
}

.change-back:hover {
    background-color: #D6DBDE;
    cursor: pointer;
}

.change-data-text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 24px;
}

.change-back-text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 24px;
}

.change-name-chat-area {
    position: absolute;
    background: #B5A2A4;
    width: 20%;
    height: 100px;
    top: 92%;
}

.change-name-input {
    position: relative;
    left: 35px;
    margin-top: 30px;
    width: 60%;
    height: 40px;
    font-size: 20px;
    border: none;
}

.change-name-btn {
    position: relative;
    height: 40px;
    left: 15px;
    background-color: #BDC6CF;
    color: rgb(0, 0, 0);
    border-radius: 100px;
    border: none;
}

.change-name-btn:hover {
    background-color: #fff;
    color: #000000;
    border: none;
    transition: .3s;
}


@keyframes blink {

    0%,
    100% {
        background: #BDC6CF;
    }

    /* Элемент виден */
    50% {
        background: #EFECE7;
    }

    /* Элемент мерцает и становится невидимым! */
}



.chat-alert {
    animation: blink 1s step-end infinite !important;
}